/*------------------
	Responsive
--------------------*/

$min-phone : "only screen and (max-width : 320px)";
$mid-phone : "only screen and (max-width : 480px)";
$max-phone : "only screen and (max-width : 640px)";

$min-tablet : "only screen and (max-width : 768px)";
$mid-tablet : "only screen and (max-width : 920px)";
$max-tablet : "only screen and (max-width : 1024px)";

$min-desktop : "only screen and (max-width : 1136px)";